@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.container {
  height: 89vh;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.leftCl {
  border-radius: 4px;
  display: grid;
  row-gap: 20px;
  grid-template-rows: 1fr 1fr;
}

.contentText {
  margin: 20px 20px 0 20px;
  /* border: 1px solid whitesmoke; */
  border-radius: 4px;
  display: grid;
}
.contentText h3 {
  color: #d3d3d3;
  justify-self: center;
  align-self: baseline;
  margin-top: 0.01rem;
  letter-spacing: 8px;
}
.contentText h3 span {
  color: #2dddf5;
}
.joke {
  /* margin: 20px 20px 20px 20px;

  border-radius: 4px; */
}
.jokesText {
  background-color: rgba(20, 20, 20, 0.7);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #2dddf5;
  border-radius: 4px;
  backdrop-filter: blur(5px);
}

.jokesContent {
  margin-left: 2%;
}

.rightCl {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 5vh;
}
.cardTop {
  display: grid;
}
.cardMid {
  display: grid;
}
.cardBottom {
  display: grid;
}
.link {
  justify-self: center;
  align-self: center;
  text-decoration: none;
}
.hamedCover {
  height: 60px;
  justify-self: center;
  padding-top: 60px;
}
.cardText {
  color: #d3d3d3;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.cardText span {
  color: #2dddf5;
}
.joke {
  display: grid;
}
.joke h2 {
  margin-bottom: 4rem;
  font-size: 1rem;
}
.joke h2,
h4,
h5 {
  color: #d3d3d3;
  justify-self: center;
}
.jokesText {
  margin: 2rem;
  justify-self: center;
  align-self: center;
}
@media screen and (max-height: 610px) {
  .joke {
    position: absolute;
    right: 3%;
    top: 40%;
  }
}
@media screen and (max-width: 520px) {
  .container {
    grid-template-columns: 1fr;
  }
  .cardText {
    backdrop-filter: blur(20px);
    padding: 2px 4px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 520px) {
  .cardText {
    display: none;
  }
  .rightCl {
    display: none;
  }
}
