@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.container {
  height: 89vh;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.leftCl {
  border: 2px solid rgb(165, 165, 165);
  border-radius: 4px;
  display: grid;
  row-gap: 20px;
  grid-template-rows: 1fr 1fr;
}

.contentText {
  margin: 20px 20px 0 20px;
  /* border: 1px solid whitesmoke; */
  border-radius: 4px;
  display: grid;
}
.contentText h3 {
  color: #d3d3d3;
  justify-self: center;
  align-self: baseline;
  margin-top: -120px;
  letter-spacing: 8px;
}
.contentText h3 span {
  color: #2dddf5;
}
.joke {
  margin: 20px 20px 20px 20px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 4px;
}

.rightCl {
  border: 2px solid rgb(165, 165, 165);
  border-radius: 4px;
  display: grid;
  row-gap: 8px;

  grid-template-rows: 1fr 1fr 1fr;
}
.cardTop {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 4px;
  margin: 10px 10px 0 10px;
  display: grid;
}
.cardMid {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 4px;
  margin: 10px 10px 0 10px;
  display: grid;
}
.cardBottom {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 4px;
  margin: 10px 10px 10px 10px;
  display: grid;
}
.link {
  justify-self: center;
  align-self: center;
  text-decoration: none;
}
.hamedCover {
  height: 60px;
  justify-self: center;
  padding-top: 60px;
}
.cardText {
  color: #d3d3d3;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.cardText span {
  color: #2dddf5;
}
.joke {
  display: grid;
}
.joke h2 {
  margin-bottom: 4rem;
  font-size: 1rem;
}
.joke h2,
h4,
h5 {
  color: #d3d3d3;
  justify-self: center;
}
.jokesText {
  margin: 2rem;
  justify-self: center;
  align-self: center;
}

@media screen and (max-height: 667px) {
  .container {
    max-height: 45vh;
  }

  .leftCl,
  .rightCl {
    height: fit-content;
  }
}
@media screen and (min-height: 668px) and (max-height: 820px) {
  .container {
    max-height: 50vh;
  }

  .leftCl,
  .rightCl {
    height: 80vh;
  }
}

@media screen and (max-width: 520px) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 520px) {
  .cardText {
    display: none;
  }
  .rightCl {
    display: none;
  }
}
