@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.header {
  height: 7vh;
  width: 90%;
  margin: auto;
  /* background-color: rgb(26, 26, 26); */
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(165, 165, 165);

  border-radius: 4px;

  z-index: 20;
  transition: all 1s ease;
}
.logo a {
  color: white;
  text-decoration: none;
}
.logo h3 {
  font-family: 'Yellowtail', cursive;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: inherit;
  align-items: center;
}
.logo {
  display: flex;
  height: inherit;
  color: white;
  align-items: center;
  margin-left: 10px;
}

.menu {
  display: flex;
}
.menu li {
  list-style: none;
  margin: auto 10px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.menu li:hover {
  color: #67f6e7;
  transform: scale(0.95);
}
@media screen and (max-width: 520px) {
  .menu {
    display: none;
  }
  .logo {
    display: flex;
    height: inherit;
    color: white;
    align-items: center;
    justify-content: center;
    /* margin-left: 10px; */
  }
  .navbar {
    display: flex;
    justify-content: center;
    height: inherit;
    align-items: center;
  }
}
