.header {
  height: 7vh;
  width: 90%;
  margin: auto;

  justify-content: center;
  align-items: center;
  border: 2px solid white;

  border-radius: 4px;

  z-index: 20;
  transition: all 1s ease;
}
.logo a {
  color: white;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: inherit;
  align-items: center;
}
.logo {
  display: flex;
  height: inherit;
  color: white;
  align-items: center;
  margin-left: 10px;
}

.menu {
  display: flex;
}
.menu li {
  list-style: none;
  margin: auto 10px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.menu li:hover {
  color: #67f6e7;
  transform: scale(0.95);
}
