.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100vh;

  padding-top: 10px;
  background: #131313;
}
@media screen and (max-width: 520px) {
  .main {
    height: 180vh;
  }
}
