.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 10px;
  background-image: url(../../assets/backgrounds/pexels-sebastiaan-stam-1480690.jpg);
  background-color: #131313;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .homeCover {
  position: relative;
  height: 100%;
  object-fit: cover;
} */

@media screen and (max-width: 520px) {
  .main {
    height: 170vh;
  }
}
